<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Course</title>
</head>

<body>
  <form action="" method="post">
    <p>Course Name: <input type="text" name="name" placeholder="Insert here the course name" /></p>
    <p><input type="submit" value="Create" /></p>
  </form>

  <a href="/courses">Back to Course List</a>


</body>

</html>