<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show a Course</title>
</head>

<body>
    {% if course %}
    <form action="/course/{{course.id}}/edit" method="post">
        <p>Course Name: <input type="text" name="name" placeholder="Insert here the course name" value="{{course.name}}" /></p>
        <p><input type="submit" value="Save" /></p>
    </form>
    {% endif %}
    <a href="/courses">Back to Course List</a>
</body>

</html>