<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <h1>Menu</h1>

    <div style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column;">
            <h2>Students</h2>
            <a href="/students">Student List</a>
            <a href="/student/create">Create a Student</a>
        </div>
        <div style="display: flex; flex-direction: column; margin-left: 20px;">
            <h2>Courses</h2>
            <a href="/courses">Course List</a>
            <a href="/course/create">Create a Course</a>
        </div>
    </div>
</body>

</html>