<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show a Student</title>
</head>

<body>
    {% if context.student %}
    <p>Id: {{context.student.id}}</p>
    <p>First Name: {{context.student.first_name}}</p>
    <p>Last Name: {{context.student.last_name}}</p>
    <p>Email: {{context.student.email}}</p>
    <p>Course: {{context.course.name}}</p>
    <p> Programming Language:{{context.student.language}}</p>
    <p> Operational Systems:
    <ul>
        {% for os in context.student.operational_systems %}
        <li>{{os}}</li>
        {% endfor %}
    </ul>
    </p>
    {% if context.subjects%}
    <p> Subjects:
    <ul>
        {% for subject in context.subjects %}
        <li>{{subject.name}}</li>
        {% endfor %}
    </ul>
    </p>
    {% endif %}
    {% else %}
    <h2>Student not found!</h2>
    {% endif %}
    <a href="/students">Back to Student List</a>
</body>

</html>